.txtbox{
  width: 98%;
  height: 20px;
  font-size: 10pt;
  border: 1px solid silver;
  border-radius: 3px;
}
  
.cpcon{
  width: 250px;
  height: 450px;
  padding: 3%;
  border: 1px solid black;
  background: palegoldenrod;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
  